
.container{
  padding-bottom:20px;
  text-align:center;
  margin:0px auto;
  max-width:331px;
}

.body{
  /* background:#f3f3f3; */
  font-family: 'Roboto', sans-serif;
}

 @media (min-width: 576px){
  .container {
    margin:0px auto;
    max-width:331px;
  
  }
} 

@media (min-width: 768px){
  .container {
    margin:0px auto;
    max-width:660px;
  
  }
}

@media (min-width: 992px){
  .container {
    margin:0px auto;
    max-width:960px;
  
  }
}


@media (min-width: 1200px){
  .container {
    margin:0px auto;
    max-width:1140px;
  
  }
}

